:root {
  --primary: #f76d6f;
  --secondary: #f7846d ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.gradient {
  background: rgb(247,109,111);
  background: linear-gradient(90deg, rgba(247,109,111,1) 0%, rgba(247,132,109,1) 100%);
}

.app-header {
  height: 50px;
}